/* Global */

:root {
    /* color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-mint: #cfebb7;
    --color-sky-blue : #b4dbd5;
    --color-dark-grey : #4d4d4d;
    --color-dark : #0c0d0d;
    --color-light-grey : #7c7979;
    --color-yellow : #fff7d1;
    --color-orange : #feb546;

    /* font size */
    --font-large : 48px;
    --font-medium : 28px;
    --font-regular : 18px;
    --font-small : 16px;
    --font-micro : 14px;

    /* font weight */
    --weight-bold : 700;
    --weight-semi-bold : 600;
    --weight-regular : 400;
    /* size */
}

/* Universal tags */
* {
    box-sizing:border-box;

}